<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PersistenciaSqlServer.Properties.Settings.DBSodaQuinchoConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=DBSodaQuincho;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="PersistenciaSqlServer.Properties.Settings.Conexion"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Alberth\Pictures\SODA\Codigo Fuente\Version 1.0\AppSodaQuincho\AppSodaQuincho\SodaQuincho.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
