<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppSodaQuincho.Properties.Settings.DBSodaQuinchoConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=DBSodaQuincho;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsIndicadoresEconomicosSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="wsIndicadoresEconomicosSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://indicadoreseconomicos.bccr.fi.cr/indicadoreseconomicos/WebServices/wsIndicadoresEconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsIndicadoresEconomicosSoap"
                contract="CambioDolar.wsIndicadoresEconomicosSoap" name="wsIndicadoresEconomicosSoap" />
            <endpoint address="http://indicadoreseconomicos.bccr.fi.cr/indicadoreseconomicos/WebServices/wsIndicadoresEconomicos.asmx"
                binding="customBinding" bindingConfiguration="wsIndicadoresEconomicosSoap12"
                contract="CambioDolar.wsIndicadoresEconomicosSoap" name="wsIndicadoresEconomicosSoap12" />
        </client>
    </system.serviceModel>
</configuration>
